<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Include>[OpenSharp.Core]*</Include>
          <Exclude>[*.UnitTests]*,[*.SystemTests]*</Exclude>
          <ExcludeByAttribute>GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <Format>cobertura</Format>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <InProcDataCollectionRunSettings>
    <InProcDataCollectors>
      <InProcDataCollector assemblyQualifiedName="Coverlet.Collector.DataCollection.CoverageCollector, coverlet.collector"
                           friendlyName="XPlat Code Coverage"
                           enabled="true" />
    </InProcDataCollectors>
  </InProcDataCollectionRunSettings>
</RunSettings>
